th {
  color: white !important;
  font-weight: bold;
}

.demo-table {
    width: 100%;
  }
  
  /* .mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent !important;
    border-top: 1px solid transparent !important;
    cursor: pointer !important;
  } */
  
  .mat-mdc-row:hover .mat-mdc-cell {
    border-top-color: currentColor !important;
    border-bottom-color: currentColor !important;
  }
  
  .demo-row-is-clicked {
    font-weight: bold;
  }
  