<div class="container">
  <div>
    <!-- <strong>TODO: </strong>Margin here -->
    <section class="hero is-info mb-5 mt-5">
      <div class="columns hero-body">
        <div class="column is-one-fifth">
          <p class="title">
            Welcome to Q-LESS
          </p>
          <p class="subtitle">
            Quick Line and Efficient Service System
          </p>
        </div>
        <div class="column">
          <h4>
            <p>With the ever-increasing problem of Metro Manila's transport system, The DOTC (Department of Transportation and Communication) is trying to maximize the use of Metro Manila Transit System (MRT). One of the initiatives that the department is undertaking is to ensure that the commuter's queue system is as efficient as it can be with the use of modern technology.
            <p>The new computer system is named <strong>Q-LESS Transport (Quick Line and Efficient Service System)</strong> which aims to lessen the time and cost that a commuter will spend in using the public MRT transport system.
          </h4>
        </div>
      </div>
    </section>
    <div class="columns">
      <div class="column is-one-third">
        <app-create-card></app-create-card>
      </div>
      <div class="column">
        <app-card-table></app-card-table>
      </div>
    </div>
    <div class="columns" *ngIf="card">
      <div class="column is-one-quarter">
        <app-card-info></app-card-info>
      </div>
      <div class="column">
        <app-load-card></app-load-card>
      </div>
      <div class="column">
        <app-stations></app-stations>
      </div>
    </div>
  </div>  
  
</div>
